<h1><%= @program.title %></h1>

<%= image_tag("/svl_info.jpeg") %>

<% if Rsvp.where(:user_id => current_user.id, :program_id => @program.id).empty? %>
	<div><%= link_to "신청하기", '/rsvps/new' %></div>
<% else %>
	<div><%= "이미 신청한 프로그램입니다" %></div>
<% end %>