<h1>Sign in for the Program</h1>

<table><tbody>
	<tr id="program_title">
		<th><span class="label" title="프로그램명"></span></th>
		<td><div><!-- program title comes here -->SVL(Social Venture Lab)<div></td>
	</tr>
	<tr id="user_name">
		<th><span class="label" title="이름"></span></th>
		<td><input class="text" type="text" placeholder="이름"></td>
	</tr>
	<tr id="user_email">
		<th><span class="label" title="이메일"></span></th>
		<td colspan="3">
			<input class="text" type="text" id="user_email" placeholder="이메일"><span class="tip message"><!-- checks if the user already has an account --></span>
		</td>
	</tr>
	<tr id="user_password">
		<th><span class="label" title="비밀번호"></span></th>
		<td><input class="text" type="text" placeholder="비밀번호"></td>
		<th><span class="label" title="비밀번호 확인"></span></th>
		<td><input class="text" type="text" placeholder="비밀번호 확인"><span class="tip">* 비밀번호는 참여정보 수정시 사용됩니다.</span></td>
	</tr>
	<tr id="user_phone">
		<th><span class="label" title="전화번호"></span></th>
		<td colspan="3">
			<select name="area_code" id="area_code">
            <option value="010">010</option><option value="011">011</option>
			<option value="015">015</option><option value="016">016</option>
			<option value="017">017</option><option value="018">018</option>
			<option value="019">019</option><option value="02">02</option>
			<option value="031">031</option><option value="032">032</option>
			<option value="033">033</option><option value="041">041</option>
			<option value="042">042</option><option value="043">043</option>
			<option value="051">051</option><option value="052">052</option>
			<option value="053">053</option><option value="054">054</option>
			<option value="055">055</option><option value="061">061</option>
			<option value="062">062</option><option value="063">063</option>
			<option value="064">064</option>
			</select>
			
			<input class="text" type="text" name="first_three_digits" id="first_three_digits" value="" size="4" maxlength="4">
			<input class="text" type="text" name="last_four_digits" id="last_four_digits" value="" size="4" maxlength="4">
		</td>
	</tr>
</tbody></table>
<input class="attend button" type="submit" value="신청서 제출">