<div class="innerBorder">
    <div class="required block current">
      <h3 class="title">
        <span class="subtitle">표시는 필수 입력 부분입니다.</span>
      </h3>
      <div class="core">
        <div class="errorHolder"></div>
        <div class="innerCore">
          <table>
            <tbody><tr class="title first">
              <th><span class="label" title="참여하는 모임"></span></th>
              <td colspan="3"><div class="nowrap" title="[TEDx광화문]-2nd Event " 뻔한="" 사회복지?="" f.u.n한="" 사회복지!""="">[TEDx광화문]-2nd Event "뻔한 사회복지? F.U.N한 사회복지!"</div></td>
            </tr>
            
            <tr class="name">
              <th><span class="label" title="이름"></span></th>
              <td colspan="3"><input class="text" type="text" name="name" id="name" size="" maxlength="16" value="" minlen="2" required="" alias="이름을"></td>
            </tr>
            <tr class="email">
              <th><span class="label" title="E-메일"></span></th>
              <td colspan="3">
                <input class="text" type="text" name="email_account" id="email_account" value="" size="10" maxlength="31"><span class="tip message"></span>
                <input type="hidden" name="checkEmail" id="checkEmail" value="" equal="1" alias="이메일 중복확인이 되지 않았습니다.">
              </td>
            </tr>
            <tr class="password">
              <th><span class="label" title="비밀번호"></span></th>
              <td width="162">
                <input class="text" type="password" name="participantPw1" id="participantPw1" size="" maxlength="64" value="" minlen="5" required="" alias="비밀번호를" ime="disabled">
              </td>
              <th class="confirm"><span class="label" title="비밀번호 확인"></span></th>
              <td width="490">
                <input class="text" type="password" name="participantPw2" id="participantPw2" size="" maxlength="64" value="" minlen="5" required="" alias="비밀번호를" ime="disabled">
                <span class="tip">* 비밀번호는 참여정보 수정시 사용됩니다.</span>
              </td>
            </tr>


            <tr class="phone">
              <th><span class="label" title="전화번호"></span></th>
              <td colspan="3">                <select name="phone_head" id="phone_head" style="display: none; ">
                  <option value="">선택</option>
                <option value="010">010</option><option value="011">011</option><option value="015">015</option><option value="016">016</option><option value="017">017</option><option value="018">018</option><option value="019">019</option><option value="02">02</option><option value="031">031</option><option value="032">032</option><option value="033">033</option><option value="041">041</option><option value="042">042</option><option value="043">043</option><option value="051">051</option><option value="052">052</option><option value="053">053</option><option value="054">054</option><option value="055">055</option><option value="061">061</option><option value="062">062</option><option value="063">063</option><option value="064">064</option>                </select><a class="ui-selectmenu ui-widget ui-state-default ui-corner-all ui-selectmenu-dropdown" id="phone_head-button" role="button" href="#" tabindex="0" aria-haspopup="true" aria-owns="phone_head-menu" style="width: 60px; "><span class="ui-selectmenu-status">선택</span><span class="ui-selectmenu-icon ui-icon ui-icon-triangle-1-s"></span></a>
                <input class="text" type="text" name="phone_body" id="phone_body" value="" size="4" maxlength="4">
                <input class="text" type="text" name="phone_tail" id="phone_tail" value="" size="4" maxlength="4">
              </td>
            </tr>

            
            
          </tbody></table>
        </div><!-- .innerCore end -->
      </div><!-- .core end -->
    </div><!-- .required.block end -->
    <!-- .optional.block end -->
    <center>
      <input class="attend button" type="submit" value="">
    </center>
  </div>