<p><br /></p>
<span><%= link_to "HeadFlow", "http://www.headflow.net" %></span> | 
<span><%= link_to "SVLnetwork", "http://www.svlnetwork.net" %></span>
<p>
서울시 강남구 신사동 591-3 단일빌딩 3층 301호
(주)헤드플로
공동대표 조유선, 박지호
</p>
<p>
전화 070-4145-3569
/ 팩스 02-545-3569
/ 이메일문의 info@headflow.net
/ 월요일~금요일 10:00~18:00 (일요일휴무)
</p>
<p></p>
<div class="kit-icon-thin"><%= "Copyright © 2011 HeadFlow Inc." %></div>