<!DOCTYPE html>
<html>
<head>
  <title>Wisdomkit</title>
</head>
<body>

	<div id = "header" >
		<%= render 'layouts/header' %>
	</div>

	<%= yield %>

	<div id = "footer" >
		<%= render 'layouts/footer' %>
	</div>

</body>
</html>
