<!DOCTYPE html>
<html>
<head>
  <title>Wisdomkit</title>
</head>
<body>

	<div id = "top" >
		<%= render 'layouts/top' %>
	</div>

	<%= yield %>

	<div id = "footer" >
		<%= render 'layouts/footer' %>
	</div>

</body>
</html>
